
<div style="height:100%; width:100%;">
  <hexagonal [HP]="HP" [Atk]="Atk" [Def]="Def" [Spd]="Spd" [SpAtk]="SpAtk" [SpDef]="SpDef"></hexagonal> 
  <div>
    <button (click)="c1()">HP+10</button>
    <button (click)="c2()">ATK+10</button>
    <button (click)="c3()">DEF+10</button>
    <button (click)="c4()">SPD+10</button>
    <button (click)="c5()">SAtk+10</button>
    <button (click)="c6()">SDef+10</button>
  </div>
  <div>
    <button (click)="c7()">HP-10</button>
    <button (click)="c8()">ATK-10</button>
    <button (click)="c9()">DEF-10</button>
    <button (click)="c10()">SPD-10</button>
    <button (click)="c11()">SAtk-10</button>
    <button (click)="c12()">SDef-10</button>
  </div>
</div>